# === read insta-fetcher docs ===
IG_SESSION=
DATABASE_URL="mongodb+srv://asu:xxxx@mydata.xxx.mongodb.net/wa?retryWrites=true&w=majority&appName=myData"
TIKTOK_COOOKIE=
# === GROQ AI ===
GROQ_API_KEY=

# === GOOGLE ===
GOOGLE_PROJECT_ID=
SHEET_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GEMINI_API_KEY=