{
    "arrowParens": "always",
    "endOfLine": "auto",
    "printWidth": 333,
    "semi": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "overrides": [
      {
        "files": ["src/types/**/*.ts", "src/commands/**/*.ts", "src/utils/**/*.ts"],
        "options": {
          "printWidth": 150
        }
      }
    ]
  }